html,
body {
    height: 100%;
    background-color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    min-width: 1633px;
    font-family: arial, 'pingfang sc', stheiti, 'microsoft yahei', sans-serif;
}

a {
    text-decoration: none;
}

.header-left {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 10px;
}

.header-left .header-left-item {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, .75);
    margin-left: 20px;
}

.header-left .header-left-more {
    position: relative;
}

.header-left .more-arr {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: -9px;
    width: 0;
    height: 0;
    border-top: 4px solid #666;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all 0.3s;
}

.header-left .header-left-item:hover {
    color: #ff5a34;
}

.header-left .header-left-more:hover .header-left-item-more-arr {
    border-top: 4px solid #ff5a34;
    transform: rotate(180deg);
}

.header-left .header-left-webpage {
    color: #ff5a34;
}


.header-right {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 12px;
    padding-right: 20px;
    text-align: right;
}

.header-right .content-temperature {
    padding-left: 25px;
}

.header-right .content-line {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 1px;
    height: 14px;
    background-color: #e7e7e7;
    border: 0;
    margin: 5px 20px 0;
    overflow: hidden;
}

.content-Location,
.content-temperature {
    color: rgba(0, 0, 0, .75);
}

.header-right .content-accessibility {
    color: #000;
    margin-left: 8px;
    opacity: .75;
}

.header-right .header-right-weather {
    position: relative;
    width: 16px;
    height: 16px;
    top: -15px;
    left: 63px;
}

.page-mainer {
    flex: 1;
    text-align: center;
    margin: 200px;
}

.page-mainer .mainer-form {
    display: flex;
    justify-content: center;
}

.mainer-form .form-search {
    display: inline-block;
    width: 489px;
    height: 42px;
    border: 1px solid #ababab;
    border-right: 0;
    outline: none;
    line-height: 42px;
    padding: 0 154px 0 10px;

}

.mainer-form .form-btn {
    display: inline-block;
    width: 99px;
    height: 44px;
    font-size: 16px;
    background: #f2f2f2;
    border: 1px solid #ababab;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.mainer-form .form-btn:hover {
    opacity: 0.8;
}

.page-footer {
    text-align: center;
    padding-bottom: 28px;
}

.page-footer .footer-info {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, .5);
}

.footer-info .info-interval {
    margin: 0 5px;
}

.page-footer .info-item {
    color: rgba(0, 0, 0, .5);
}

.page-footer .info-item:hover {
    color: rgba(0, 0, 0, .9);
}

.info-inputting,
.info-browser,
.info-navigation {
    color: rgba(0, 0, 0, .7);
}

.info-inputting:hover,
.info-browser:hover,
.info-navigation:hover {
    color: rgba(0, 0, 0, .9);
}

.info-container::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 13px;
    height: 14px;
    top: 2px;
    left: 0;
    margin: 4px 5px 0 0;
    background: url(../img/ico.gif) no-repeat;
}

.info-browser::before {
    background-position: 0 -29px;
}

.info-navigation::before {
    background-position: 0 -57px;
}

.info-inputting:hover .info-inputting::before {
    background-position: 0 -15px;
}

.info-browser:hover .info-browser::before {
    background-position: 0 -43px;
}

.info-navigation:hover .info-navigation::before {
    background-position: 0 -71px;
}

.page-footer .info-line {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 1px;
    height: 13px;
    background-color: #e4e4e4;
    border: 0;
    margin: 5px 10px 0;
    overflow: hidden;
}


.page-footer .item-security {
    position: relative;
}

.page-footer .security-older {
    position: absolute;
    top: -25px;
    right: -90px;
    width: 86px;
    height: 40px;
    background: url(../img/fit_older.png) no-repeat;
    background-size: 86px;
    margin-top: 46px;
    margin-left: 8px;
    margin: 0;
}

.page-footer .security-badge {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 14px;
    top: 3px;
    margin: 0;
    background: url(../img/wangan.png) no-repeat;
}