html,
body {
    height: 100%;
    background-color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    min-width: 1633px;
    font-family: arial, 'pingfang sc', stheiti, 'microsoft yahei', sans-serif;
}

a {
    text-decoration: none;
}

.header-top {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 10px;
}

.header-top .header-top-item {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, .75);
    margin-left: 20px;
}

.header-top .header-top-item-more {
    position: relative;
}

.header-top .header-top-item-more-arr {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: -9px;
    width: 0;
    height: 0;
    border-top: 4px solid #666;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all 0.3s;
}

.header-top .header-top-item:hover {
    color: #ff5a34;
}

.header-top .header-top-item-more:hover .header-top-item-more-arr {
    border-top: 4px solid #ff5a34;
    transform: rotate(180deg);
}

.header-top .header-top-item-webpage {
    color: #ff5a34;
}


.header-user {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 12px;
    padding-right: 20px;
    text-align: right;
}

.header-user .header-user-item-temperature {
    padding-left: 25px;
}

.header-user .header-user-weather {
    position: relative;
    width: 16px;
    height: 16px;
    top: -15px;
    left: 63px;

}

.header-user .header-user-item-line {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 1px;
    height: 14px;
    background-color: #e7e7e7;
    border: 0;
    margin: 5px 20px 0;
    overflow: hidden;
}

.header-user-item-Location,
.header-user-item-temperature {
    color: rgba(0, 0, 0, .75);
}

.header-user .header-user-item-accessibility {
    color: #000;
    margin-left: 8px;
    opacity: .75;
}

.page-mainer {
    flex: 1;
    text-align: center;
    margin: 200px;
}

.page-mainer .page-mainer-container {
    display: flex;
    justify-content: center;
}

.page-mainer-container .page-mainer-container-search {
    display: inline-block;
    width: 489px;
    height: 42px;
    border: 1px solid #ababab;
    border-right: 0;
    outline: none;
    line-height: 42px;
    padding: 0 154px 0 10px;

}

.page-mainer-container .page-mainer-container-btn {
    display: inline-block;
    width: 99px;
    height: 44px;
    font-size: 16px;
    background: #f2f2f2;
    border: 1px solid #ababab;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.page-mainer-container .page-mainer-container-btn:hover {
    opacity: 0.8;
}

.page-footer {
    text-align: center;
    padding-bottom: 28px;
}

.page-footer .footer-info {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, .5);
}

.footer-info .footer-info-interval {
    margin: 0 5px;
}

.page-footer .footer-info-item {
    color: rgba(0, 0, 0, .5);
}

.page-footer .footer-info-item:hover {
    color: rgba(0, 0, 0, .9);
}

.footer-info-inputting,
.footer-info-browser,
.footer-info-navigation {
    color: rgba(0, 0, 0, .7);
}

.footer-info-inputting:hover,
.footer-info-browser:hover,
.footer-info-navigation:hover {
    color: rgba(0, 0, 0, .9);
}

.icon {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 14px;
    top: 2px;
    margin: 4px 5px 0 0;
    background: url(../img/ico.gif) no-repeat;
}

.icon-browser {
    background-position: 0 -29px;
}

.icon-navigation {
    background-position: 0 -57px;
}

.footer-info-inputting:hover .icon-inputting {
    background-position: 0 -15px;
}

.footer-info-browser:hover .icon-browser {
    background-position: 0 -43px;
}

.footer-info-navigation:hover .icon-navigation {
    background-position: 0 -71px;
}

.page-footer .footer-info-line {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 1px;
    height: 13px;
    background-color: #e4e4e4;
    border: 0;
    margin: 5px 10px 0;
    overflow: hidden;
}


.page-footer .footer-info-item-security {
    position: relative;
}

.page-footer .security-older {
    position: absolute;
    top: -25px;
    right: -90px;
    width: 86px;
    height: 40px;
    background: url(../img/fit_older.png) no-repeat;
    background-size: 86px;
    margin-top: 46px;
    margin-left: 8px;
    margin: 0;
}

.page-footer .security-badge {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 14px;
    top: 3px;
    margin: 0;
    background: url(../img/wangan.png) no-repeat;
}